body {
    width: 600px;
}

h2 {
    font-size: 20px;
    margin-bottom: -10px;
    background-color: #bfd;
}

fieldset {
    font-size: 14px;
    margin: 0.5em;
    background-color: #dfd;
}

legend {
    padding: 0.2em;
}

label {
    padding: 0.2em;
    font-variant: small-caps;
}

input {
    margin: 0.5em;
}

table {
    background-color: #fff;
}

th {
    font-size: 14px;
    margin: 3px;
    align-content: center;
    background-color: #ddd;
}

td {
    font-size: 12px;
    margin: 2px;
    align-content: center;
    background-color: #ccc;
}

small {
    font-variant: small-caps;
}
